@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app,
#root {
    height: 100%;
}

.froala-font h1 {
    font-weight: 700;
}

.froala-font h2 {
    font-weight: 600;
}

.froala-font h3 {
    font-weight: 500;
}

.froala-font h4 {
    font-weight: 400;
}

.froala-font h5 {
    font-weight: 300;
}

.froala-font h6 {
    font-size  : 1rem;
    font-weight: 200;
}

.tooltip {
    --tooltip-text-color: #fff;
    --tooltip-color     : rgb(59 130 246 / 90%);
}

.tooltip:before {
    width        : 8rem;
    /* Set fixed width */
    border-radius: 0.25rem
        /* 4px */
    ;
    padding-left: 0.5rem
        /* 8px */
    ;
    padding-right: 0.5rem
        /* 8px */
    ;
    padding-top: 0.25rem
        /* 4px */
    ;
    padding-bottom: 0.25rem
        /* 4px */
    ;
    font-size: 0.975rem
        /* 14px */
    ;
    line-height: 1.25rem
        /* 20px */
    ;
    background-color: var(--tooltip-color);
    color           : var(--tooltip-text-color);
    white-space     : normal;
    /* Allow text to wrap to the next line */

}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust        : exact;
    }

    .bg-gray-200 {
        background-color: #e5e7eb !important;
        /* Ganti dengan warna yang diinginkan */
    }

    .bg-gray-300 {
        background-color: #d1d5db !important;
        /* Ganti dengan warna yang diinginkan */
    }

    .btn {
        display: none;
        /* Sembunyikan tombol saat cetak */
    }

    /* Jika Anda menggunakan background image */
    .your-element {
        background-image: url('path/to/your/image.png');
        background-size : cover;
    }
}

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 1px black;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }
}

@layer components {
    .overflow::-webkit-scrollbar {
        width: 0px;
    }

    .overflow_type::-webkit-scrollbar {
        width: 6px;
    }

    .overflow_type::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .overflow_type::-webkit-scrollbar-thumb {
        background   : #52d35a;
        border-radius: 10px;
    }

    .overflow-x-auto {
        overflow-x: auto;
    }

    .overflow-table::-webkit-scrollbar {
        width: 5px;
    }

    .overflow-table::-webkit-scrollbar-track {
        background: #f1f1f1;
        width     : 5px;
    }

    .overflow-table::-webkit-scrollbar-thumb {
        background   : #83b31b;
        border-radius: 10px;
        width        : 5px;
    }
}